<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924079454639-7e405it1m65guji28ld1fccr1mp9mqr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924079454639-7e405it1m65guji28ld1fccr1mp9mqr4</string>
	<key>API_KEY</key>
	<string>AIzaSyAmWUH28Lxf0YoxGm7tz4GDoRygnSU0uAw</string>
	<key>GCM_SENDER_ID</key>
	<string>924079454639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>belizyilmaz.RNDM</string>
	<key>PROJECT_ID</key>
	<string>rndm-fcace</string>
	<key>STORAGE_BUCKET</key>
	<string>rndm-fcace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:924079454639:ios:ccdfe1e870428db774575a</string>
	<key>DATABASE_URL</key>
	<string>https://rndm-fcace.firebaseio.com</string>
</dict>
</plist>
